<ion-header [translucent]="true" >
  <ion-toolbar style="background-color:#CDC9C9">
    <ion-icon name="list-outline"></ion-icon>
    <ion-icon style="margin-left: 350px;" name="person-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="white">
  <ion-searchbar color="light"placeholder="Buscar"></ion-searchbar>
  <img style="width: 500px;" src="https://i.pinimg.com/originals/f0/f2/01/f0f201f59305fb3c0f3137b76b917f84.png">

  <ion-row>
    <img style="height: 90px; padding-left: 30px;" src="https://static.zattini.com.br/bnn/l_zattini/2020-09-30/7216_160x160_calcados.png">
    <img style="height: 90px;" src="https://static.zattini.com.br/bnn/l_zattini/2020-09-30/4651_160x160_roupa.png">
    <img style="height: 90px;" src="https://static.zattini.com.br/bnn/l_zattini/2020-09-30/3543_160x160_bolsas.png">
    <img style="height: 90px;" src="https://static.zattini.com.br/bnn/l_zattini/2019-09-12/7061_160x160_categoria5.png">
  </ion-row>


  <table border=" 1px;"  style="border-top-color:#fcfcfc;  border-bottom-color:#fafafa; border-left-color:#fafafa; border-right-color:#b8b8b8; margin-left: 20px;">
    <tr>
      <td bgcolor="#fcfcfc" style="padding-right: 40px; width: 500px; text-align: center; height: -20px">
        <img src="https://thumbs.dreamstime.com/b/caminh%C3%A3o-de-entrega-com-linha-cora%C3%A7%C3%A3o-%C3%ADcone-sinal-linear-do-estilo-para-o-conceito-e-design-web-m-veis-vetor-esbo%C3%A7o-amor-s-149849037.jpg" width=80px >
        <p style="margin-top: -20px; color: #696969; ">FRETE GRÁTIS</p>
        <p style=" color: #808080;"> Nas compras a partir de R$ 169,90. </p>
    </td>
  
      <td bgcolor="#fcfcfc" style="padding-left: 40px; width: 500px; text-align: center; height: -20px">
  
        <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/355127-icone-de-cartao-de-credito-do-gr%C3%A1tis-vetor.jpg" width=50px >
  
        <p style="margin-top: 0px; color: #696969;">PARCELE</p>
        <p style=" color: #808080;"> Pague em até 12x no seu cartão. </p>
    </td>
  
    </tr>
  </table>



  <ion-grid class="ion-text-center">
    <ion-row>

  <ion-col>
    <ion-card color="white">
      <img src="https://morenarosa.vteximg.com.br/arquivos/ids/382394/TOP-CROPPED-ALCA-COM-METAL---ES-OFF-WHITE-PINK---P.jpg?v=637576561926100000">
      <ion-item lines="none" color="white">
        <p style="margin-bottom: -0px;">Vestido Florido</p>
      </ion-item>
      <ion-item>
        <h8 style="color:#32CD32; font-size: 12px;">FRETE GRÁTIS</h8>
      </ion-item>
      <ion-item lines="none"  class="ion-no-padding" color="white">
        <ion-badge color="white">R$ 189,99</ion-badge>
        <ion-badge style="font-size: 10px;"class="ion-no-padding" slot="end" color="white"><span>2x 94,99</span></ion-badge>
      </ion-item>
    </ion-card>
  </ion-col>

  <ion-col>
    <ion-card color="white">
      <img src="https://morenarosa.vteximg.com.br/arquivos/ids/382354/CALCA-PANTACOURT-COS-INTERMEDIARIO-COM-ARGOLAS---LI-CRU---36.jpg?v=637576561162600000">
      <ion-item lines="none" color="white">
        <p style="margin-bottom: -0px;">Calça Sarja</p>
      </ion-item>
      <ion-item>
        <h8 style="color:#32CD32; font-size: 12px;">FRETE GRÁTIS</h8>
      </ion-item>
      <ion-item lines="none"  class="ion-no-padding" color="white">
        <ion-badge color="white">R$ 129,99</ion-badge>
        <ion-badge style="font-size: 10px;"class="ion-no-padding" slot="end" color="white"><span>2x 64,90</span></ion-badge>
      </ion-item>
    </ion-card>
  </ion-col>

  
  <ion-col>
    <ion-card color="white">
      <img src="https://morenarosa.vteximg.com.br/arquivos/ids/378566/BODY-GOLA-ALTA-MANGA-LONGA-DETALHE-BOTAO---LI-OFF-WHITE---P.jpg?v=637544779741430000">
      <ion-item lines="none" color="white">
        <p style="margin-bottom: -0px;">Conjunto Preto e Branco</p>
      </ion-item>
      <ion-item>
        <h8 style="color:#32CD32; font-size: 12px;">FRETE GRÁTIS</h8>
      </ion-item>
      <ion-item lines="none"  class="ion-no-padding" color="white">
        <ion-badge color="white">R$ 214,99</ion-badge>
        <ion-badge style="font-size: 10px;"class="ion-no-padding" slot="end" color="white"><span>2x 107,49</span></ion-badge>
      </ion-item>
    </ion-card>
  </ion-col>

  <ion-col>
    <ion-card color="white">
      <img src="https://morenarosa.vteximg.com.br/arquivos/ids/382354/CALCA-PANTACOURT-COS-INTERMEDIARIO-COM-ARGOLAS---LI-CRU---36.jpg?v=637576561162600000">
      <ion-item lines="none" color="white">
        <p style="margin-bottom: -0px;">Cropped branco</p>
      </ion-item>
      <ion-item>
        <h8 style="color:#32CD32; font-size: 12px;">FRETE GRÁTIS</h8>
      </ion-item>
      <ion-item lines="none"  class="ion-no-padding" color="white">
        <ion-badge color="white">R$ 89,99</ion-badge>
        <ion-badge style="font-size: 10px;"class="ion-no-padding" slot="end" color="white"><span>2x 45,00</span></ion-badge>
      </ion-item>
    </ion-card>
  </ion-col>

  <ion-col>
    <ion-card color="white">
      <img src="https://morenarosa.vteximg.com.br/arquivos/ids/382007/10002800006000188-0-.jpg?v=637564213880800000">
      <ion-item lines="none" color="white">
        <p style="margin-bottom: -0px;">Conjunto Branco</p>
      </ion-item>
      <ion-item>
        <h8 style="color:#32CD32; font-size: 12px;">FRETE GRÁTIS</h8>
      </ion-item>
      <ion-item lines="none"  class="ion-no-padding" color="white">
        <ion-badge color="white">R$ 219,99</ion-badge>
        <ion-badge style="font-size: 10px;"class="ion-no-padding" slot="end" color="white"><span>2x 109,00</span></ion-badge>
      </ion-item>
    </ion-card>
  </ion-col>

  <ion-col>
    <ion-card color="white">
      <img src="https://morenarosa.vteximg.com.br/arquivos/ids/381599/VESTIDO-LONGO-DECOTE-V-COM-FRANZIDO---LI-LILAS---P.jpg?v=637559066504230000">
      <ion-item lines="none" color="white">
        <p style="margin-bottom: -0px;">Vestido Lilás</p>
      </ion-item>
      <ion-item>
        <h8 style="color:#32CD32; font-size: 12px;">FRETE GRÁTIS</h8>
      </ion-item>
      <ion-item lines="none"  class="ion-no-padding" color="white">
        <ion-badge color="white">R$ 249,99</ion-badge>
        <ion-badge style="font-size: 10px;"class="ion-no-padding" slot="end" color="white"><span>2x 124,90</span></ion-badge>
      </ion-item>
    </ion-card>
  </ion-col>

</ion-row>
</ion-grid>
  

</ion-content>
