<ion-header [translucent]="true">
  <ion-toolbar style="background-color:#CDC9C9">
    <ion-icon name="list-outline"></ion-icon>
    <ion-icon style="margin-left: 350px;" name="person-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true" color="white">
    <ion-searchbar color="light"placeholder="Buscar"></ion-searchbar>
    <img style="width: 500px;" src="https://estyle.vteximg.com.br/arquivos/urbane-desktop-home-main-offer2.jpg?v=637593653173930000">

    <ion-grid class="ion-text-center">
      <ion-row>
  
    <ion-col>
      <ion-card color="white">
        <img src="https://static.hering.com.br//sys_master/images/ha4/h22/9994764910622.jpg?name=0648-KKLEN-C1">
        <ion-item lines="none" color="white">
          <p style="margin-bottom: -0px;">Blusao rosa</p>
        </ion-item>
        <ion-item>
          <h8 style="color:#32CD32; font-size: 12px;">FRETE GRÁTIS</h8>
        </ion-item>
        <ion-item lines="none"  class="ion-no-padding" color="white">
          <ion-badge color="white">R$ 139,99</ion-badge>
          <ion-badge style="font-size: 10px;"class="ion-no-padding" slot="end" color="white"><span>4x 34,99</span></ion-badge>
        </ion-item>
      </ion-card>
    </ion-col>
  
    <ion-col>
      <ion-card color="white">
        <img src="https://static.hering.com.br//sys_master/images/h33/h52/9994572627998.jpg?name=04RJ-KKLEN-C1">
        <ion-item lines="none" color="white">
          <p style="margin-bottom: -0px;">Jaqueta rosa</p>
        </ion-item>
        <ion-item>
          <h8 style="color:#32CD32; font-size: 12px;">FRETE GRÁTIS</h8>
        </ion-item>
        <ion-item lines="none"  class="ion-no-padding" color="white">
          <ion-badge color="white">R$ 139,99</ion-badge>
          <ion-badge style="font-size: 10px;"class="ion-no-padding" slot="end" color="white"><span>4x 34,90</span></ion-badge>
        </ion-item>
      </ion-card>
    </ion-col>
  
    
    <ion-col>
      <ion-card color="white">
        <img src="https://static.hering.com.br//sys_master/images/hc9/hb7/9994675126302.jpg?name=05M3-KKLEN-C1">
        <ion-item lines="none" color="white">
          <p style="margin-bottom: -0px;">Jogger Rosa</p>
        </ion-item>
        <ion-item>
          <h8 style="color:#32CD32; font-size: 12px;">FRETE GRÁTIS</h8>
        </ion-item>
        <ion-item lines="none"  class="ion-no-padding" color="white">
          <ion-badge color="white">R$ 89,99</ion-badge>
          <ion-badge style="font-size: 10px;"class="ion-no-padding" slot="end" color="white"><span>2x 45,00</span></ion-badge>
        </ion-item>
      </ion-card>
    </ion-col>
  
    <ion-col>
      <ion-card color="white">
        <img src="https://static.hering.com.br//sys_master/images/h4d/h43/9994676961310.jpg?name=05M3-LM5EN-C1">
        <ion-item lines="none" color="white">
          <p style="margin-bottom: -0px;">Jogger Laranja</p>
        </ion-item>
        <ion-item>
          <h8 style="color:#32CD32; font-size: 12px;">FRETE GRÁTIS</h8>
        </ion-item>
        <ion-item lines="none"  class="ion-no-padding" color="white">
          <ion-badge color="white">R$ 89,99</ion-badge>
          <ion-badge style="font-size: 10px;"class="ion-no-padding" slot="end" color="white"><span>2x 45,00</span></ion-badge>
        </ion-item>
      </ion-card>
    </ion-col>
  <img src="https://estyle.vteximg.com.br/arquivos/urbane-desk-home-campanha1.jpg?v=637579236238200000">
    <ion-col>
      <ion-card color="white">
        <img src="https://static.hering.com.br//sys_master/images/hd7/h7a/9907233488926.jpg?name=4FA2-MD3EN-C1">
        <ion-item lines="none" color="white">
          <p style="margin-bottom: -0px;">Camiseta Básica</p>
        </ion-item>
        <ion-item>
          <h8 style="color:#32CD32; font-size: 12px;">FRETE GRÁTIS</h8>
        </ion-item>
        <ion-item lines="none"  class="ion-no-padding" color="white">
          <ion-badge color="white">R$ 49,99</ion-badge>
         
        </ion-item>
      </ion-card>
    </ion-col>
  
    <ion-col>
      <ion-card color="white">
        <img src="https://static.hering.com.br//sys_master/images/h57/h64/9958645497886.jpg?name=066H-1GEN-C1">
        <ion-item lines="none" color="white">
          <p style="margin-bottom: -0px;">Blusao Rosa</p>
        </ion-item>
        <ion-item>
          <h8 style="color:#32CD32; font-size: 12px;">FRETE GRÁTIS</h8>
        </ion-item>
        <ion-item lines="none"  class="ion-no-padding" color="white">
          <ion-badge color="white">R$ 159,99</ion-badge>
          <ion-badge style="font-size: 10px;"class="ion-no-padding" slot="end" color="white"><span>5x 31,00</span></ion-badge>
        </ion-item>
      </ion-card>
    </ion-col>
  
  
  </ion-row>
  </ion-grid>
    
  
</ion-content>
